<div class="constant" style="background: url('<%=(cateTypes[0].pic2|| "").replace("smallimgs","images")%>') center top no-repeat ">
    <!---下面是新增内容-->
    <script type="text/javascript" src="http://cbjs.baidu.com/js/s.js"></script>
    <link type="text/css" rel="stylesheet" href="http://res.cngoldres.com/group/css/ywp_windown.css" />
    <div class="ag_fwindow_ywp">
        <div class="ag_fwindow_ywpcon imgpng" id="fwindow_ywp01"> <a href="http://www.huangjintd.com/tg/ywp.html" target="_blank" class="ahref">玩转粤微盘 开通即送8元体验券</a> <a href="javascript:void(0);" class="aclose">收起</a> </div>
        <div class="ag_fwindow_ywpcon02 imgpng" id="fwindow_ywp02"> <a href="javascript:void(0);" class="aopen">粤微盘8元体验卷扫码来领</a> </div>
        <script type="text/javascript">
            $('.ag_fwindow_ywpcon .aclose').click(function(){
                $('#fwindow_ywp01').css('display',"none");
                $('.ag_fwindow_ywpcon02').css('padding-top','240px')
            });
            $('.ag_fwindow_ywpcon02 .aopen').click(function(){
                $('#fwindow_ywp01').css('display',"block");
                $('.ag_fwindow_ywpcon02').css('padding-top','0')
            });
        </script>
    </div>


    <div class="banner">
    <h1 class="banner_h1 imgpng" style="background: url('<%=(cateTypes[0].pic4|| "").replace("smallimgs","images")%>')  no-repeat;">股票拜师群 深套向盈利逆袭</h1>
    <p class="banner_h2 imgpng" style="background: url('<%=(cateTypes[0].pic5|| "").replace("smallimgs","images")%>')  no-repeat;">加入QQ群 免费获悉<b>下只黑马股</b>信息<span>[剩余名额23人]</span></p>
    <p class="banner_btn"><a href="javascript:void(0);" class="click_gpjq imgpng" style="background: url('<%=(cateTypes[0].pic6|| "").replace("smallimgs","images")%>')  no-repeat;">一键点击加群</a></p>
    <p class="banner_copy imgpng clearfix"><i class="fl">手动搜索QQ群号：</i>
        <input  readonly value="498399069" type="text" id="copybanner" class="bcopytext fl QQqun_copytext" />
        <span class="bcopy" style="background: url('<%=(cateTypes[0].pic7|| "").replace("smallimgs","images")%>')  no-repeat;" onclick="copytext('copybanner')">复制</span></p>
    <i class="banner_star">星星</i>
    <span class="banner_bg imgpng" style="background: url('<%=(cateTypes[0].pic3|| "").replace("smallimgs","images")%>') 0 0 no-repeat;"></span> </div>

<div class="main">
    <div class="section imgpng" style="background: url('<%=(cateTypes[0].pic8|| "").replace("smallimgs","images")%>') 0 0 no-repeat;">
        <h2 class="section_tit title01 imgpng" style="background: url('<%=(cateTypes[0].pic9|| "").replace("smallimgs","images")%>') 0 0 no-repeat;"><span class="stit01">你是否也有同样的感触?</span></h2>
        <dl class="con01 clearfix">
            <dt class="imgpng"  style="background: url('<%=(cateTypes[0].pic10|| "").replace("smallimgs","images")%>') 0 0 no-repeat;" >大哭！</dt>
            <dd class="con_text">一直想不明白：<br />
                为啥我一个小小散户竟能左右整个股市？<br />
                <strong>我一买入它就下跌，我一卖出它就上涨</strong><strong>我一空仓大盘疯涨，我一满仓大盘狂泻</strong>
                手握百亿资金的庄家们竞死死盯着<br />
                我手里这几万块钱不放<br />
                <b>这到底是为啥？？</b></dd>
        </dl>
    </div>
    <div class="section imgpng" style="background: url('<%=(cateTypes[0].pic8|| "").replace("smallimgs","images")%>') 0 0 no-repeat;">
        <h2 class="section_tit title02 imgpng" style="background: url('<%=(cateTypes[0].pic9|| "").replace("smallimgs","images")%>') 0 0 no-repeat;"><span class="stit02">股票拜师群来告诉你答案</span></h2>
        <dl class="con02_4">
            <dd class="pp_img imgpng" style="background: url('<%=(cateTypes[0].pic11|| "").replace("smallimgs","images")%>') 0 0 no-repeat;">嘿嘿</dd>
            <dt class="con_text w650">在这里就是为了帮助广大老股友<br />
                <b>如何从套牢深渊中解救出来</b><br />
                以及帮助那些<br />
                想知道如何正确起步<b>保护本钱并获取利润的新手</b></dt>
            <dd class="qq_box imgpng">
                <p class="ptext">如果您想妥妥的赚钱，来这里没错的，<b>点击加群获黑马股</b></p>
                <div class="box_btns clearfix"> <a href="javascript:void(0);" class="btn btn01 imgpng click_gpjq" style="background: url('<%=(cateTypes[0].pic12|| "").replace("smallimgs","images")%>') 0 0 no-repeat;">免费加群</a>
                    <p class="con_pcopy clearfix"><span onclick="copytext('copyt01')">复制</span><i class="fl">手动加群：</i>
                        <input value="498399069" type="text" id="copyt01" class="fl QQqun_copytext" />
                    </p>
                </div>
            </dd>
        </dl>
    </div>
    <div class="section imgpng" style="background: url('<%=(cateTypes[0].pic8|| "").replace("smallimgs","images")%>') 0 0 no-repeat;">
        <h2 class="section_tit imgpng" style="background: url('<%=(cateTypes[0].pic9|| "").replace("smallimgs","images")%>') 0 0 no-repeat;"><span class="stit03">内幕大牛票</span></h2>
        <div class="con03">
            <table border="0" cellspacing="1" cellpadding="0">
                <tr>
                    <th class="w160">推荐股票代码</th>
                    <th class="w185">买入时间</th>
                    <th>详情</th>
                </tr>
                <tr>
                    <td>300410</td>
                    <td>2015年12月1日</td>
                    <td>短线新高大牛，截止12月4日获利20%，继续持有</td>
                </tr>
                <tr>
                    <td>002471</td>
                    <td>2015年11月9日</td>
                    <td>短线涨停黑马，连续8涨停，获利105%卖出</td>
                </tr>
                <tr>
                    <td>002709</td>
                    <td>2015年10月26日</td>
                    <td>中线大牛，截止12月4日收盘获利82%，继续持有</td>
                </tr>
                <tr>
                    <td>600136</td>
                    <td>2015年9月30日</td>
                    <td>长线大牛，截止12月4日收盘获利96%，继续持有</td>
                </tr>
            </table>
            <dl>
                <dt>
                <p class="ptext">点击加群按钮<b>获取更多黑马牛股</b></p>
                <p class="con_pcopy clearfix"><span onclick="copytext('copyt02')">复制</span><i class="fl">手动加群：</i>
                    <input value="498399069" type="text" id="copyt02" class="fl QQqun_copytext" />
                </p>
                </dt>
                <dd><a href="javascript:void(0);" class="imgpng click_gpjq" style="background: url('<%=(cateTypes[0].pic13|| "").replace("smallimgs","images")%>') 0 0 no-repeat;">免费加群</a></dd>
            </dl>
        </div>
    </div>
    <div class="section no imgpng" style="background: url('<%=(cateTypes[0].pic8|| "").replace("smallimgs","images")%>') 0 0 no-repeat;">
        <h2 class="section_tit imgpng" style="background: url('<%=(cateTypes[0].pic9|| "").replace("smallimgs","images")%>') 0 0 no-repeat;"><span class="stit04">来这里，只为遇见你</span></h2>
        <dl class="con02_4">
            <dd class="hb_img imgpng" style="background: url('<%=(cateTypes[0].pic15|| "").replace("smallimgs","images")%>') 0 0 no-repeat;">红包冲冲冲！</dd>
            <dt class="con_text">来这里，一大波经验丰富股票专家分享经验，传授秘籍<br />
                来这里，小小散户联合力量，我们就是最大的庄家<br />
                来这里，群众擦亮眼睛，我们就是最大的内幕<br />
                <b>一切，只为了遇见更好的你</b></dt>
            <dd class="qq_box imgpng" >
                <div class="box_btns clearfix"> <a href="javascript:void(0);" class="btn btn02 imgpng click_gpjq" style="background: url('<%=(cateTypes[0].pic14|| "").replace("smallimgs","images")%>') 0 0 no-repeat;">免费加群抢红包</a>
                    <p class="con_pcopy clearfix"><span onclick="copytext('copyt03')">复制</span><i class="fl">手动加群：</i>
                        <input value="498399069" type="text" id="copyt03" class="fl QQqun_copytext" />
                    </p>
                </div>
                <p class="ptext"><strong>败家群主发红包啦</strong>！千元红包等你抢，兄弟们HI起来！</p>
            </dd>
        </dl>
    </div>
</div>
</div>

<script type="text/javascript">
    //复制到剪切板
    /*
    function copytext(id){
        textSelect(document.getElementById(id));
    }
    var textSelect = function(o){
        //a是起始位置，b是终点位置
        var l = o.value.length;
        if(l){
            if(o.createTextRange){//IE浏览器
                var range = o.createTextRange();
                range.moveStart("character",-l);
                range.moveEnd("character",-l);
                range.moveStart("character", 0);
                range.moveEnd("character",l);
                range.select();
                range.execCommand("Copy");
                alert('已成功复制！');
            }else{
                o.setSelectionRange(0, l);
                o.focus();
                if(document.execCommand('Copy')){
                    document.execCommand('Copy','false',null);
                    alert('已成功复制！');
                }else{
                    alert('浏览器无法访问您的剪切板，请您手动ctrl+C进行复制');
                }
            }
        }
    };

    var switchbotton = true;

    var thislabe = 'byw_qun';
    var timesTamp = Math.round(Math.random()*10000000000);
    var qunUrl = "http://www.huangjintd.com/gptp/qqcollect.html?v=" + timesTamp;
    var qqlabe = [];
    $.getScript(qunUrl, function () {
        for( var i = 0 ; i < qunList.length ; i++){

            qqlabe[i] = qunList[i].labe;
            if( qqlabe[i] === thislabe ){
                var QQqun = qunList[i].qun;
                var QQlink = qunList[i].alink;
            }
        }

        $('.QQqun_copytext').val(QQqun);
        var QQiframe = '<iframe width=\"0\" height=\"0\" border=\"0\" frameborder=\"0\" src=\"' + QQlink + '\" id=\"iframe_fpjt\"></iframe>';

        if($('#iframe_fpjt').length>0){
            $('#iframe_fpjt').remove();
            setTimeout(function(){ $('body').append(QQiframe); }, 3000);
        }else{
            setTimeout(function(){ $('body').append(QQiframe); }, 3000);
        }
        if(switchbotton){
            $('.click_gpjq').click( function(){
                if($('#iframe_fpjt').length>0){
                    $('#iframe_fpjt').remove();
                    $('body').append(QQiframe);
                }else{
                    $('body').append(QQiframe);
                }
            });
        }else{
            document.onclick = clickopenUrl;
        }
        function clickopenUrl(){
            window.open(QQlink,'_self');

        }
    })
*/
</script>
