<!--默认全局模板框架-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="<%=siteConfig.cmsDescription%>">
    <meta content="<%=siteConfig.keywords%>" name="keywords" />
    <meta name="author" content="DoraCMS">
    <title><%=siteConfig.title%></title>
    <script src="/javascripts/jquery-1.10.2.min.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>

    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">

    <script src="/javascripts/dora.public.js?vesion=<%=siteConfig.version%>"></script>
    <!--default theme-->
    <script src="/themes/<%=staticforder%>/js/dora.front.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>
    <link href="/themes/<%=staticforder%>/css/style.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
</head>

<body style="background: url('<%=(cateTypes[0].pic1||'').replace("smallimgs","images")%>') repeat ">

<p>1：<%=(cateTypes[0].pic1)%></p>
<p>2：<%=(cateTypes[0].pic2)%></p>
<p>3：<%=(cateTypes[0].pic3)%></p>
<p>4：<%=(cateTypes[0].pic4)%></p>
<p>5：<%=(cateTypes[0].pic5)%></p>
<p>6：<%=(cateTypes[0].pic6)%></p>
<p>7：<%=(cateTypes[0].pic7)%></p>
<p>8：<%=(cateTypes[0].pic8)%></p>
<p>9：<%=(cateTypes[0].pic9)%></p>
<p>10：<%=(cateTypes[0].pic10)%></p>
<p>11：<%=(cateTypes[0].pic11)%></p>
<p>12：<%=(cateTypes[0].pic12)%></p>
<p>13：<%=(cateTypes[0].pic13)%></p>
<p>14：<%=(cateTypes[0].pic14)%></p>
<%- include header %>

<div style="margin-top: 60px;">
    <%-body %>
</div>

<!-- BEGIN FOOTER -->
<%- include footer %>

</body>
</html>